.resourceSection{
    padding: 2% 15%;
    border-color: black;
    background-color: #0061A8;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftResourceContainer{
    width:40%;
}

.emailContainer{
    display: flex;
    flex-direction: row;
}

.emailButton{
    background-color: #0061A8;
    border: none;
    color: white;
    padding: 15px 25px 15px 0px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    font-weight:bold;
    align-items: center;

}

.emailButton:hover{
    cursor:pointer;
}

.emailButtonMobile{
    display:none;
    background-color: #0061A8;
    border: solid;
    color: white;
    padding: 15px 25px 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    align-items: center;

}

.emailButtonMobile:hover{
    cursor:pointer;
}

.emailImage{
color: green;
width:5%;
margin-right: 2%;
}

.socialMediaContainer{
    height:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialMediaTitle:hover{
    cursor:default;
}

.socialMediaImage{
    width:5%;
    margin-right:2%;
    /* border: solid; */
}

.socialMediaImage:hover{
    cursor:pointer;
}

.disclaimer:hover{
    cursor:default;
}

.rightResourceContainer{
    width:50%;
    display: flex;
    border-color: red;
}

.footerLinksContainer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.footerLinkTitle{
    margin-top:0;
}

.footerLinkTitle:hover{
    cursor: pointer;
}

.footerLink{
    padding-bottom: 10%;
}

.footerLink:hover{
    cursor: pointer;
}

.bottomDisclaimer{
    display: none;
}

.bottomDisclaimer:hover{
    cursor:default;
}